<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Add User</title>
</head>
<body>
    <form method="post" action="/user">
        <label>Username
            <input type="text" name="username" th:value="${user.username}"/>
        </label>
            <p class="error" th:errors="${user.username}"></p>
        <br/>
        <label>Email
            <input type="text" name="email" th:value="${user.email}">
        </label>
            <p class="error" th:errors="${user.email}"></p>
        <br/>
        <label>Password
            <input type="password" name="password">
        </label>
             <p class="error" th:errors="${user.password}"></p>
        <br/>
        <label>Verify Password
            <input type="password" name="verifyPassword">
        </label>
            <p class="error" th:errors="${user.verifyPassword}"></p>
        <br/>
            <input type="submit" value="Add User">
    </form>
</body>
</html>