body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 8px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.footer {
   position: fixed;
   margin: auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background: pink;


}
.swatchOne {
    margin: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #E40066;
    }

    .swatchTwo {
        margin: 10px;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #EF9997;
    }

     .swatchThree {
            margin: 10px;
             display: inline-block;
             width: 50px;
             height: 50px;
             background: #B5D99C;
     }

     .swatchFour {
        margin: 10px;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #C98BB9;
     }

     .swatchFive {
        margin: 10px;
             display: inline-block;
             width: 50px;
             height: 50px;
             background: #52414C;
     }

     .swatchSix {
        margin: 10px;
                  display: inline-block;
                  width: 50px;
                  height: 50px;
                  background: #41393E;
     }

     .swatchSeven {
        margin: 10px;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: #A3C3D9;
     }

     .swatchEight {
        margin: 10px;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: #9BC4BC;
     }

     .swatchNine {
        margin: 10px;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: #090909;
     }

     .swatchTen {
        margin: 10px;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #EDE7E3;
     }

     .swatchEleven {
             margin: 10px;
             display: inline-block;
             width: 50px;
             height: 50px;
             background: #FFA62B;
     }

     .swatchTwelve {
        margin: 10px;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #16697A;
     }

     .swatchThirteen {
        margin: 10px;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #8491A3;
     }

     .swatchFourteen {
             margin: 10px;
             display: inline-block;
             width: 50px;
             height: 50px;
             background: #6B2737;
          }
     .swatchFifteen {
                  margin: 10px;
                  display: inline-block;
                  width: 50px;
                  height: 50px;
                  background: #B15E6C;
     }

     .swatchSixteen {
                       margin: 10px;
                       display: inline-block;
                       width: 50px;
                       height: 50px;
                       background: #6E6A6F;
                    }




